.containerMain{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.containerCards{
    display: flex;
    width: 70%;
    justify-content: center;

    flex-flow: row wrap;
    gap: 20px;
}



/* container team */
.containerTeam, .containerTeam2{
    background-color: #00000070;
    border-radius: 4px;
    padding: 20px;
    width: 30%;
}
.containerTeam2{
    order: 3;
}

.teams img{
 border-radius: 50%;
 /* width: 20px; */
}

.messageWinner{
    display: block;
    width: 90%;
    background-color: rgba(247, 247, 247, 0.863);
    text-align: center;
}

.messageWinner span {
    font-weight: bold;
}

.containerBottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
   background-color: rgba(240, 248, 255, 0.541);
    margin-top: 20px;
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 20px;


}
 
